body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.piano {
    width: 780px;
    padding: 30px 20px 10px 20px;
    border-radius: 20px;
    background-color: #141414;
}

.piano-keys {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.key {
    color: #a2a2a2;
    cursor: pointer;
    position: relative;
}

.key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}